//Mobile first

.car--details {
    padding: 20px 0;
}

.spec {
    padding: 10px;
}

.tumbnails {
    @include flexbox(center, row wrap, flex-start);
    margin: 0 auto;
    max-width: 240px;

    .image {
        background: {
            size: cover;
            position: top center;
            repeat: no-repeat;
        };
        margin-left: 10px;
        margin-bottom: 10px;
        height: 70px;
        width: 70px;
    }
}

.the--gallery {
    background: color(grey);
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    * {
        visibility: hidden;
    }

    &.active-state {
        visibility: visible;

        * {
            visibility: visible;
        }
    }

    .lSPager.lSGallery {
        li {
            height: 45px !important;

            img {
                height: 100% !important;
            }
        }
    }

    .gallery-container {
        position: relative;
        top: 50%;
        transform: translate(0, -50%);
        -webkit-transform: translate(0, -50%);
    }

    .close-gallery {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 30px;
        z-index: 9999;

        &:hover {
            cursor: pointer;
        }
    }
}

.more-spec {
    padding: 20px;

    .item {
        padding-bottom: 25px;

        &:last-child {
            padding-bottom: 0;
        }

        h2 {
            padding-bottom: 15px;
            text-align: center;
            font-size: calculateRem(22px);
        }

        ul {
            list-style: none;
        }

        li {
            margin-bottom: 5px;
            position: relative;
            

            &:before {
                background: color(black);
                border-radius: 50%;
                content: "";
                position: absolute;
                top: 5px; 
                left: -10px;
                height: 5px;
                width: 5px;
            }
        }
    }
}

.contacts {
    background: color(white);
    border-top: 2px solid color(red);
    padding: 5px;
    width: 100%;

    .flex-layout {
        border-bottom: 2px solid color(red);
    }

    .form {
        padding-bottom: 20px;

        table, textarea {
            width: 100%;
        }
        
        tr {
            td {
                padding-bottom: 5px; 
            }

            &:last-child {
                td {
                    padding-bottom: 0;
                }
            }
        }
    
        textarea, input {
            border: 1px solid color(black);
        }
    
        textarea {
            min-height: 70px;
        }
    
        input {
            width: 90%;
            padding: 5px 15px;
        }
    }

    .info {
        p {
            color: color(grey);
            font-size: calculateRem(18px);
            line-height: calculateRem(24px);
        }
    }

    .more-info {
        padding-top: 30px;

        h2, p {
            color: color(grey);
        }

        h2 {
            font-size: calculateRem(19px);
            font-weight: bold;
            padding-bottom: 10px;
        }

        p {
            font-size: calculateRem(16px);
        }
    }
}

@media only screen and (min-width: 1024 / 16 * 1em) {
    .car--details {
        @include flexbox(stretch, row nowrap, space-between);
    
        .gallery {
            width: cp(330, 1000);   
        }

        .spec {
            width: cp(650, 1000);   
        }
    }

    .tumbnails {
        max-width: none;
    
        .image {
            margin-left: 10px;
            margin-bottom: 10px;
            height: 70px;
            width: 70px;
        }
    }

    .the--gallery {
        .gallery-container {
            transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            left: 50%;
            max-width: 900px;
        }
    }

    .more-spec {
        .item {
            h2 {
                text-align: left;
            }

            ul {
                font-size: 0;
            }

            li {
                display: inline-block;
                padding-right: 20px;
                font-size: calculateRem(16px);
                vertical-align: top;
                width: cp(245, 980);
            }
        }
    }

    .contacts {
        padding: 0;

        .flex-layout {
            @include flexbox(center, row nowrap, space-between);
        }

        .form, .info {
            padding: 10px;
        }

        .form {
            border-right: 2px solid color(red);
            padding-right: 20px;
            width: cp(440, 620);
        }
    
        .info {
            width: cp(180, 620);

            p {
                font-size: calculateRem(16px);
                padding-bottom: 20px;

                &:last-child {
                    padding-bottom: 0;
                }
            }
        }
    }
}