//Mobile first

.details-cotainer {
    padding-top: 15px;
}

.car--details {
    border-top: 4px solid color(red);
    padding: 20px 0;
}

.spec {
    padding: 10px;

    table {
        td {
            padding: 3px;
        }
    }
}

.gallery {
    .tumbnails {
        @include flexbox(flex-start, row wrap, flex-start);
        background: color(grey);
        margin: 0 auto;
        min-height: 100px;

        .image {
            @extend %tumbnail;
            border: 1px solid color(grey);
            width: cp(320 / 4, 320);

            &:hover {
                cursor: pointer;
            }
        }
    }
}

.gallerySlideShow {
    display: none;
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    width: 100%;
    max-width: 250px;
    z-index: 9999;

    &.active-state {
        display: block;
    }

    .close-btn {
        background: color(red);
        border-radius: 50%;
        display: table;
        position: absolute;
        top: -15px;
        right: -15px;
        height: 30px;
        width: 30px;
        z-index: 1;

        &:hover {
            cursor: pointer;
        }

        img {
            @extend %unKnownCentering;
            width: 17px;
        }
    }

    .current-img {
        background-color: black;
        position: relative;
        height: 300px;
        width: 100%;

        img {
            position: absolute;
            margin: 0 auto;
            top: 50%;
            left: 0;
            right: 0;
            bottom: 0;
            transform: translate(0, -50%);
            max-height: 100%;
        }
    }

    .tumbnails {
        @include flexbox(flex-start, row wrap, flex-start);
        background: color(grey);

        .image {
            @extend %tumbnail;
            margin-right: 0;
            border: 1px solid color(grey);
            width: cp(250 / 4, 250);

            &:hover {
                cursor: pointer;
            }
        }
    }
}

.more-spec {
    border-top: 4px solid color(red);
    border-radius:8px;
    padding: 20px;

    .item {
        padding-bottom: 25px;

        &:last-child {
            padding-bottom: 0;
        }

        h2 {
            padding-bottom: 15px;
            text-align: center;
            font-size: calculateRem(22px);
        }

        ul {
            list-style: none;
        }

        li {
            margin-bottom: 5px;
            position: relative;
            

            &:before {
                background: color(black);
                border-radius: 50%;
                content: "";
                position: absolute;
                top: 5px; 
                left: -10px;
                height: 5px;
                width: 5px;
            }
        }
    }
}

.contacts {
    background: color(white);
    border-top: 4px solid color(red);
    padding: 5px;
    width: 100%;

    .form {
        border-top: 4px solid color(red);
        border-radius: 8px;
        padding-bottom: 20px;

        table, textarea {
            width: 100%;
        }
        
        tr {
            td {
                padding-bottom: 5px; 
            }

            &:last-child {
                td {
                    padding-bottom: 0;
                }
            }
        }
    
        textarea, input {
            border: 1px solid color(black);
        }
    
        textarea {
            min-height: 70px;
        }
    
        input {
            width: 90%;
            padding: 5px 15px;
        }
    }

    .info {
        padding-top: 15px;

        .contactsI, .timeI {
            border-top: 4px solid color(red);
            border-radius: 8px;
            padding: 10px;
        }
        
        p {
            color: color(grey);
            font-size: calculateRem(14px);
            line-height: calculateRem(24px);
        }
    }

    .more-info {
        padding-top: 30px;

        h2, p {
            color: color(grey);
        }

        h2 {
            font-size: calculateRem(19px);
            font-weight: bold;
            padding-bottom: 10px;
        }

        p {
            font-size: calculateRem(16px);
        }
    }
}

@media only screen and (min-width: 1024 / 16 * 1em) {
    .car--details {
        @include flexbox(stretch, row nowrap, space-between);
    
        .gallery {
            width: cp(330, 1000);   
        }

        .spec {
            width: cp(650, 1000);   
        }
    }

    .the--gallery {
        .gallery-container {
            transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            left: 50%;
            max-width: 900px;
        }
    }

    .gallerySlideShow {
        max-width: 660px;

        .current-img {
            height: 500px;
        }

        .tumbnails {
            .image {
                height: (660 / 7) + px;
                width: cp(660 / 7, 660);
            }
        }
    }

    .more-spec {
        .item {
            h2 {
                text-align: left;
            }

            ul {
                font-size: 0;
            }

            li {
                display: inline-block;
                padding-right: 20px;
                font-size: calculateRem(16px);
                vertical-align: top;
                width: cp(245, 980);
            }
        }
    }

    .contacts {
        padding: 0;

        .flex-layout {
            @include flexbox(flex-start, row nowrap, space-between);
            padding-top: 15px;
        }

        .form {
            width: cp(410, 620);
        }
    
        .info {
            padding-top: 0;
            width: cp(195, 620);

            p {
                font-size: calculateRem(16px);
                padding-bottom: 20px;

                &:last-child {
                    padding-bottom: 0;
                }
            }
        }
    }
}