//Mobile first 
.feed-container {
    padding: 20px 10px;
    text-align: center;
}

.paginate {
    padding: 10px 0;

    .page {
        border: 1px solid color(red);
        border-radius: 50%;
        display: inline-block;
        vertical-align: middle;
        text-align: center;
        height: 20px;
        width: 20px;

        a {
            color: color(red);
            display: inline-block;
            vertical-align: middle;
        }
    }
}

.feed-items {
    padding-top: 15px;

    .feed-item {
        border-top: 5px solid color(red);
        padding-bottom: 15px;
        margin-bottom: 15px;
    
        &:last-child {
            margin-bottom: 0;
        }
    
        .image {
            width: 100px;
            height: 100px;
            background-color: black;
            position: relative;
            
            img {
                position: absolute;
                margin: auto;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                display: none;
            }
        }
    
        .content {
            padding-top: 20px;
            text-align: left;
    
            .head {
                padding-bottom: 15px;

                a {
                    color: color(black);

                    &:hover {
                        color: color(red);
                    }
                }
    
                p {
                    color: color(red);
                    font-size: calculateRem(25px);
                }
            }
    
            h3 {
                padding-bottom: 10px;
            }
        }
    }
}

//1024+
@media only screen and (min-width: 1024 / 16 * 1em) {
    .feed-container {
        padding: 0;
        margin: 0 auto;
        max-width: 900px;
    }

    .feed-item {
        @include flexbox(flex-start, row nowrap, space-between);

        .content {
            width: cp(650, 900);
    
            .head {
                @include flexbox(flex-start, row nowrap, space-between);
            }
    
            h3 {
                padding-bottom: 10px;
            }
        }
    }
}