html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
time,
mark,
audio,
video,
menu,
summary,
main {
  border: 0;
  margin: 0;
  outline: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif !important;
}

html {
  font-size: 100%;
}

body {
  font-size: 1rem;
  line-height: 1;
}

nav ul {
  list-style: none;
}

a {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  margin: 0;
  padding: 0;
  text-align: left;
}

input,
select,
textarea,
button {
  border: 0;
  background: none;
  margin: 0;
  padding: 0;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
label,
th {
  font-weight: normal;
}

main {
  display: block;
}

img {
  max-width: 100%;
}

.wrapper {
  position: relative;
  margin: 0 auto;
}

.wrapper.wrapper-1000 {
  max-width: 1000px;
}

.txt-red {
  color: #EF3B3A;
}

.overlay {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
}

.gallery .tumbnails .image, .gallerySlideShow .tumbnails .image {
  background-position: top center;
  background-size: 100% 100%;
  position: relative;
  height: 70px;
  width: 70px;
}

.gallerySlideShow .close-btn img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

.site-header {
  background: #EF3B3A;
  padding: 20px 30px;
  position: relative;
}

.site-header .header {
  align-items: center;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

.site-header .hamburger {
  width: 30px;
}

@media only screen and (min-width: 64em) {
  .site-header {
    background: #EF3B3A;
    padding: 20px 30px;
    position: relative;
  }
  .site-header .header {
    margin: 0 auto;
    max-width: 1000px;
  }
  .site-header .hamburger {
    display: none;
  }
}

.header-menu {
  display: none;
}

.header-dropdown {
  background: #da2727;
  display: none;
  padding: 30px 10px;
  position: absolute;
  top: 70px;
  left: 0;
  width: 100%;
  z-index: 9999;
}

.header-dropdown.active-state {
  display: block;
}

.header-dropdown li {
  padding-bottom: 15px;
}

.header-dropdown li:last-child {
  padding-bottom: 0;
}

.header-dropdown a {
  color: #fff;
  display: block;
  text-align: center;
}

@media only screen and (min-width: 64em) {
  .header-menu {
    display: block;
  }
  .header-menu a {
    color: #fff;
    padding-right: 15px;
  }
  .header-menu a:last-child {
    padding-right: 0;
  }
  .header-dropdown {
    display: none;
  }
}

.slider-container {
  position: relative;
}

.slider-container .slider-logo {
  position: absolute;
  width: 30px;
  left: 50px;
  top: 50px;
  z-index: 1000;
}

.slider-container .slides {
  max-height: 370px;
}

.slider-container .slides img {
  display: block;
  margin: 0 auto;
  max-height: 370px;
}

.slider-container .wrap-slider {
  position: relative;
  margin: 0 auto;
  max-width: 900px;
}

.slider-container .bx-pager {
  font-size: 0;
  text-align: center !important;
  width: 100% !important;
}

.slider-container .bx-pager .bx-pager-item {
  display: inline-block;
}

.slider-container .bx-controls-direction {
  display: none;
}

.slider-container .bx-controls-auto {
  display: none;
}

.home-feed {
  padding: 10px;
}

.home-feed h1 {
  font-size: 1.5rem;
}

.flex-layout .offer,
.flex-layout .feed,
.flex-layout .other {
  border-radius: 10px;
  margin-bottom: 20px;
}

.flex-layout .offer {
  background: #fff;
  border-top: 5px solid #EF3B3A;
  padding: 10px 20px;
  text-align: center;
}

.flex-layout .offer .links a {
  display: block;
  padding-bottom: 10px;
}

.flex-layout .offer .links a:last-child {
  padding-bottom: 0;
}

.flex-layout .offer .flex {
  align-items: center;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.flex-layout .offer .flex img {
  max-width: 80px;
}

.flex-layout .offer .flex a {
  color: #000;
}

.flex-layout .offer .our-offers h4 {
  padding-top: 15px;
  padding-bottom: 15px;
}

.flex-layout .feed {
  background: #fff;
  border-top: 5px solid #EF3B3A;
  padding: 10px;
}

.flex-layout .feed .news-feed {
  padding: 30px 0;
}

.flex-layout .feed .news-feed img {
  width: 100%;
}

.flex-layout .feed .news-feed .item {
  padding-bottom: 30px;
}

.flex-layout .feed .news-feed .item:last-child {
  padding-bottom: 0;
}

.flex-layout .feed .news-feed .news-content {
  padding-top: 10px;
  text-align: center;
}

.flex-layout .feed .news-feed .news-content h2, .flex-layout .feed .news-feed .news-content .miles {
  color: #2f2f2f;
  padding-bottom: 10px;
  font-size: 0.875rem;
}

.flex-layout .feed .news-feed .news-content .price {
  color: #2f2f2f;
  padding-bottom: 5px;
  font-size: 1.5rem;
}

.flex-layout .feed .news-feed .news-content .city {
  color: #2f2f2f;
  padding-bottom: 5px;
  font-size: 1.125rem;
}

.flex-layout .feed .news-feed .news-content .date {
  color: #f5f5f5;
  font-size: 0.625rem;
}

.flex-layout .other {
  background: #fff;
  border-top: 5px solid #EF3B3A;
  position: relative;
  min-height: 300px;
  max-height: 300px;
}

.flex-layout .other iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media only screen and (min-width: 64em) {
  .home-feed {
    background: #f5f5f5;
  }
  .home-feed .flex-layout {
    align-items: flex-start;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }
  .home-feed .flex-layout .offer {
    width: 25%;
  }
  .home-feed .flex-layout .feed {
    width: 33%;
  }
  .home-feed .flex-layout .other {
    width: 40%;
  }
  .news-feed .item {
    align-items: stretch;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    padding-bottom: 20px;
  }
  .news-feed .item .image {
    width: 50%;
  }
  .news-feed .news-content {
    padding-top: 0;
    text-align: left;
    width: 87.5%;
  }
  .news-feed .news-content h2, .news-feed .news-content .miles {
    padding-bottom: 15px;
    font-size: 1.125rem;
  }
  .news-feed .news-content .price {
    padding-bottom: 10px;
    font-size: 1.75rem;
  }
  .news-feed .news-content .city {
    padding-bottom: 10px;
    font-size: 1.375rem;
  }
  .news-feed .news-content .date {
    font-size: 0.875rem;
  }
}

.details-cotainer {
  padding-top: 15px;
}

.car--details {
  border-top: 4px solid #EF3B3A;
  padding: 20px 0;
}

.spec {
  padding: 10px;
}

.spec table td {
  padding: 3px;
}

.gallery .tumbnails {
  align-items: flex-start;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  background: #2f2f2f;
  margin: 0 auto;
  min-height: 100px;
}

.gallery .tumbnails .image {
  border: 1px solid #2f2f2f;
  width: 25%;
}

.gallery .tumbnails .image:hover {
  cursor: pointer;
}

.gallerySlideShow {
  display: none;
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  width: 100%;
  max-width: 250px;
  z-index: 9999;
}

.gallerySlideShow.active-state {
  display: block;
}

.gallerySlideShow .close-btn {
  background: #EF3B3A;
  border-radius: 50%;
  display: table;
  position: absolute;
  top: -15px;
  right: -15px;
  height: 30px;
  width: 30px;
  z-index: 1;
}

.gallerySlideShow .close-btn:hover {
  cursor: pointer;
}

.gallerySlideShow .close-btn img {
  width: 17px;
}

.gallerySlideShow .current-img {
  background-color: black;
  position: relative;
  height: 300px;
  width: 100%;
}

.gallerySlideShow .current-img img {
  position: absolute;
  margin: 0 auto;
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translate(0, -50%);
  max-height: 100%;
}

.gallerySlideShow .tumbnails {
  align-items: flex-start;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  background: #2f2f2f;
}

.gallerySlideShow .tumbnails .image {
  margin-right: 0;
  border: 1px solid #2f2f2f;
  width: 25%;
}

.gallerySlideShow .tumbnails .image:hover {
  cursor: pointer;
}

.more-spec {
  border-top: 4px solid #EF3B3A;
  border-radius: 8px;
  padding: 20px;
}

.more-spec .item {
  padding-bottom: 25px;
}

.more-spec .item:last-child {
  padding-bottom: 0;
}

.more-spec .item h2 {
  padding-bottom: 15px;
  text-align: center;
  font-size: 1.375rem;
}

.more-spec .item ul {
  list-style: none;
}

.more-spec .item li {
  margin-bottom: 5px;
  position: relative;
}

.more-spec .item li:before {
  background: #000;
  border-radius: 50%;
  content: "";
  position: absolute;
  top: 5px;
  left: -10px;
  height: 5px;
  width: 5px;
}

.contacts {
  background: #fff;
  border-top: 4px solid #EF3B3A;
  padding: 5px;
  width: 100%;
}

.contacts .form {
  border-top: 4px solid #EF3B3A;
  border-radius: 8px;
  padding-bottom: 20px;
}

.contacts .form table, .contacts .form textarea {
  width: 100%;
}

.contacts .form tr td {
  padding-bottom: 5px;
}

.contacts .form tr:last-child td {
  padding-bottom: 0;
}

.contacts .form textarea, .contacts .form input {
  border: 1px solid #000;
}

.contacts .form textarea {
  min-height: 70px;
}

.contacts .form input {
  width: 90%;
  padding: 5px 15px;
}

.contacts .info {
  padding-top: 15px;
}

.contacts .info .contactsI, .contacts .info .timeI {
  border-top: 4px solid #EF3B3A;
  border-radius: 8px;
  padding: 10px;
}

.contacts .info p {
  color: #2f2f2f;
  font-size: 0.875rem;
  line-height: 1.5rem;
}

.contacts .more-info {
  padding-top: 30px;
}

.contacts .more-info h2, .contacts .more-info p {
  color: #2f2f2f;
}

.contacts .more-info h2 {
  font-size: 1.1875rem;
  font-weight: bold;
  padding-bottom: 10px;
}

.contacts .more-info p {
  font-size: 1rem;
}

@media only screen and (min-width: 64em) {
  .car--details {
    align-items: stretch;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }
  .car--details .gallery {
    width: 33%;
  }
  .car--details .spec {
    width: 65%;
  }
  .the--gallery .gallery-container {
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    left: 50%;
    max-width: 900px;
  }
  .gallerySlideShow {
    max-width: 660px;
  }
  .gallerySlideShow .current-img {
    height: 500px;
  }
  .gallerySlideShow .tumbnails .image {
    height: 94.28571px;
    width: 14.28571%;
  }
  .more-spec .item h2 {
    text-align: left;
  }
  .more-spec .item ul {
    font-size: 0;
  }
  .more-spec .item li {
    display: inline-block;
    padding-right: 20px;
    font-size: 1rem;
    vertical-align: top;
    width: 25%;
  }
  .contacts {
    padding: 0;
  }
  .contacts .flex-layout {
    align-items: flex-start;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding-top: 15px;
  }
  .contacts .form {
    width: 66.12903%;
  }
  .contacts .info {
    padding-top: 0;
    width: 31.45161%;
  }
  .contacts .info p {
    font-size: 1rem;
    padding-bottom: 20px;
  }
  .contacts .info p:last-child {
    padding-bottom: 0;
  }
}

.feed-container {
  padding: 20px 10px;
  text-align: center;
}

.paginate {
  padding: 10px 0;
}

.paginate .page {
  border: 1px solid #EF3B3A;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  height: 20px;
  width: 20px;
}

.paginate .page a {
  color: #EF3B3A;
  display: inline-block;
  vertical-align: middle;
}

.feed-items {
  padding-top: 15px;
}

.feed-items .feed-item {
  border-top: 5px solid #EF3B3A;
  padding-bottom: 15px;
  margin-bottom: 15px;
}

.feed-items .feed-item:last-child {
  margin-bottom: 0;
}

.feed-items .feed-item .image {
  width: 100px;
  height: 100px;
  background-color: black;
  position: relative;
}

.feed-items .feed-item .image img {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.feed-items .feed-item .content {
  padding-top: 20px;
  text-align: left;
}

.feed-items .feed-item .content .head {
  padding-bottom: 15px;
}

.feed-items .feed-item .content .head a {
  color: #000;
}

.feed-items .feed-item .content .head a:hover {
  color: #EF3B3A;
}

.feed-items .feed-item .content .head p {
  color: #EF3B3A;
  font-size: 1.5625rem;
}

.feed-items .feed-item .content h3 {
  padding-bottom: 10px;
}

@media only screen and (min-width: 64em) {
  .feed-container {
    padding: 0;
    margin: 0 auto;
    max-width: 900px;
  }
  .feed-item {
    align-items: flex-start;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }
  .feed-item .content {
    width: 72.22222%;
  }
  .feed-item .content .head {
    align-items: flex-start;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }
  .feed-item .content h3 {
    padding-bottom: 10px;
  }
}
 

 /*# sourceMappingURL= main.css.map */